<div class="w-full flex justify-center items-center mt-4">
  <nav class="flex justify-between items-center p-2 bg-white shadow  md:w-3/4 w-full ">
    <div class="flex items-center cursor-pointer" onclick="window.location.href='/dashboard'">
      <span class="text-base font-bold">Election</span>
    </div>
    <div class="flex justify-end items-center gap-2">
      <a href="/create-election" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-3 rounded">+ Create Election</a>
      <a href="/api/auth/logout" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded">Logout</a>
    </div>
</nav>
</div>